@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Inconsolata:wght@300;400&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: "Finlandica", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --font-accent: "Inconsolata", monospace;

  --clr-black: #222;
  --clr-white: #eee;
  --clr-grey: #666;
  --clr-accent: #b336b3;

}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--font-text);
  padding: 1rem;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  margin: 1rem 0;
}


a, li {
  font-family: var(--font-accent);
  color: var(--clr-white)
}

li {
  list-style: decimal;
  list-style-position: inside;
  font-size: 1.5rem;
  margin: .5rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent);
}

p {
  margin: 1rem 0;
}

.code-block {
  padding:  .5rem;
  background-color: #666;
  border: 1px solid var(--clr-accent);
  border-radius: .25rem;
}

h4 {
  font-family: var(--font-accent);
  line-height: 1.5;
  margin: .5rem 0;
  color: black;
}



@media screen and (max-width: 720px) {
  body {
    padding: .5rem 1rem 1rem;
  }



}

