@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans&family=Zen+Antique+Soft&display=swap");

$font-heading: "Zen Antique Soft", serif;
$font-text: "Open Sans", sans-serif;
$font-links: "Fira Mono", monospace;
$font-test: sans-serif;

/* SCSS HSL */
$blanched-almond: hsla(33, 100%, 91%, 1);
$ultra-red: hsla(346, 89%, 70%, 1);
$mauve-taupe: hsla(349, 21%, 48%, 1);
$charcoal: hsla(199, 25%, 29%, 1);
$rich-black: hsla(183, 53%, 14%, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-right: linear-gradient(
  90deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-left: linear-gradient(
  270deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);
$gradient-radial: radial-gradient(
  #ffead0ff,
  #f76f8eff,
  #96616bff,
  #37505cff,
  #113537ff
);

// Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0 2rem;
  margin: auto;
  background-color: $charcoal;
  font-size: large;
  color: $blanched-almond;
}

h4,
h5,
h6 {
  font-family: $font-heading;
  margin: 1rem 0;
  color: hsla(346, 89%, 70%, 1);
}

h1,
h2 {
  color: hsla(33, 100%, 91%, 1);
}

h3 {
  margin: 3rem 0;
  color: hsla(346, 89%, 70%, 1);
  font-family: $font-links;
}

header {
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0 0.75rem 0;
}

header h3 {
  font-style: oblique;
  font-family: $font-links;
  margin: 0 0.75rem 0;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 0.5rem 0;
}

nav {
  background-color: $mauve-taupe;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  border-radius: 0.25rem;
}

ul li {
  list-style: none;
  margin: 1rem;
  padding: 0.5rem;
  background-color: $charcoal;
  border-radius: 0.25rem;
}

a {
  color: $blanched-almond;
  text-decoration: none;
  font-family: $font-links;
  font-weight: 1000;
}

.text-link {
  margin: 0 0.5rem 2rem;
  text-decoration: underline;
}

.free-link {
  margin: 2.5rem auto;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
  color: $ultra-red;
}

ol {
  margin: 2rem;
}

li {
  margin: 0.5rem 2.5rem;
  list-style-type: lower-alpha;
  font-family: $font-text;
}

p {
  font-family: $font-text;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
  //   width: 90vw;
  // font-size: large;
}
.container {
  columns: 2;
}

.container p {
  margin-top: 0;
}

.code-box {
  font-family: $font-links;
  color: $ultra-red;
  border: 2px solid $mauve-taupe;
  border-radius: 0.5rem;
  padding: 2.5rem 0.5rem;
  width: 75vw;
  margin: 2.5rem auto;
  background-color: $rich-black;
  font-family: monospace;
  max-width: 70%;
}

footer {
  background-color: $mauve-taupe;
  color: blanchedalmond;
  text-align: center;
  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
}

footer p {
  background-color: $charcoal;
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-family: $font-links;
}

.symbol {
  // background-color: lightgray;
  display: block;
  //   border-radius: 100%;
  // margin: 1.5rem 0.5rem;
  // padding: 0.5rem;
  text-decoration: underline;
  font-size: small;
  font-weight: 100;
  text-align: right;
}

@media only screen and (max-width: 640px) {
  .nav-link {
    border: none;
    // padding: 0.5rem;
    // width: 75vw;
    // background-color: lightgray;
  }
}

@media only screen and (min-width: 720px) {
  html {
    background-color: lightgray;
  }
}
